# Core ML/DL Libraries
    torch
    transformers
    
    # Data Handling
    datasets
    numpy
    
    # NLP & Tokenization
    sentencepiece
    
    # Advanced Data Curation (Optional but recommended)
    datasketch
    sentence-transformers
    
    # Utility & Server
    accelerate
    fastapi
    uvicorn
    python-multipart
    bitsandbytes
